.tsd-panel {
  margin: 20px 0;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25); }
  .tsd-panel:empty {
    display: none; }
  .tsd-panel > h1, .tsd-panel > h2, .tsd-panel > h3 {
    margin: 1.5em -20px 10px -20px;
    padding: 0 20px 10px 20px;
    border-bottom: 1px solid #eee; }
    .tsd-panel > h1.tsd-before-signature, .tsd-panel > h2.tsd-before-signature, .tsd-panel > h3.tsd-before-signature {
      margin-bottom: 0;
      border-bottom: 0; }
  .tsd-panel table {
    display: block;
    width: 100%;
    overflow: auto;
    margin-top: 10px;
    word-break: normal;
    word-break: keep-all; }
    .tsd-panel table th {
      font-weight: bold; }
    .tsd-panel table th, .tsd-panel table td {
      padding: 6px 13px;
      border: 1px solid #ddd; }
    .tsd-panel table tr {
      background-color: #fff;
      border-top: 1px solid #ccc; }
      .tsd-panel table tr:nth-child(2n) {
        background-color: #f8f8f8; }